{
    "audioDir": "/home/pi/Nextcloud/audio",
    "userMode": "pw",
    "shpAudioMode": "kids",
    "audioOutput": "Digital|HDMI|Master|Speaker|PCM",
    "volume": 80,
    "countdownTime": 300,
    "port": 8080,
    "GPIOButtons": false,
    "USBRFIDReader": false,
    "USBRFIDReaderInput": "/dev/input/event0",
    "STT": false
}