{
    "audioDir": "/home/pi/Nextcloud/audio/wap/mp3",
    "jsonDir": "/home/pi/Nextcloud/audio/wap/json/pw",
    "jokerDir": "/home/pi/Nextcloud/audio/wap/mp3/extra/misc/joker-###",
    "mixDir": "/home/pi/Nextcloud/audio/wap/mp3/extra/misc/mix-###",
    "wssInstallDir": "/home/pi/wss-install",
    "audioOutput": "Speaker|Master|Digial|PCM",
    "volume": 80,
    "countdownTime": 300,
    "port": 8080,
    "GPIOButtons": false,
    "USBRFIDReader": false,
    "STT": false
}